.block {
    -fx-padding: 10;
    -fx-background-color: #aaaaaa, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
}

.modal-dialog {
  -fx-padding: 20;
  -fx-spacing: 10;
  -fx-alignment: center;
  -fx-font-size: 20;
  -fx-background-color: linear-gradient(to bottom, derive(-fx-glass-color, 20%), -fx-glass-color);
  -fx-border-color: derive(-fx-glass-color, -20%);
  -fx-border-width: 5;
  -fx-background-insets: 12;
  -fx-border-insets: 10;
  -fx-border-radius: 6;
  -fx-background-radius: 6;
}

.list_item_cell:filled:selected:focused, .list_item_cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

.list_item_cell:even { /* <=== changed to even */
    -fx-background-color: white;
}

.list_item_cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}

body {
    overflow-x: hidden;
}